---
name: validate YAML files

on:
    push:
        branches:
            - '**'
            - '!**release**'
        tags-ignore:
            # I tag release pushes but those should have already been tested
            - 'release-*'
        paths:
            - 'cpansa/**.yml'
            - 'external_reports/**.yml'
            - '.github/workflows/**.yml'
    pull_request:
        branches:
            - '**'
        paths:
            - 'cpansa/**.yml'
            - 'external_reports/**.yml'
            - '.github/workflows/**.yml'

jobs:
    yaml:
        runs-on: ubuntu-20.04
        steps:
            - uses: actions/checkout@v2
            - name: 'yamllint on cpansa'
              uses: karancode/yamllint-github-action@master
              with:
                  yamllint_file_or_dir: 'cpansa'
                  yamllint_strict: false
                  yamllint_comment: true
            - name: 'yamllint on external_reports'
              uses: karancode/yamllint-github-action@master
              with:
                  yamllint_file_or_dir: 'external_reports'
                  yamllint_strict: false
                  yamllint_comment: true
                  yamllint_config_filepath: t/yamllint.config
